
<div class="container-fluid">
  <div class="row">

    <% include index %>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Stock of Basic Ingredients</h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Basic Ingredient</th>
              <th>Date</th>
              <th>Quantity</th>
              <th>Transaction type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% allBasicIngredsStock.forEach(function(basicIngredsStock){ %>
              <tr id="basicIngredsStock-<%= basicIngredsStock.id %>">
                <td>
                  <%= basicIngredsStock.id %>
                </td>
                <td>
                  <span><%= basicIngredsStock.title %></span>
                  <input id="basicIngredsStock-title-<%= basicIngredsStock.id %>" class="d-none" value="<%= basicIngredsStock.title %>"/>
                </td>
                <td>
                  <span><%= basicIngredsStock.substance.title %></span>
                  <select id="basicIngredsStock-substance-<%= basicIngredsStock.id %>" class="d-none" value="<%= basicIngredsStock.substance %>">
                    <% basicIngreds.forEach(function(substance){ %>
                      <option value="<%= substance.id %>" <% if(basicIngredsStock.substance.id == substance.id){ %> selected <% }%> ><%= substance.title %></option>
                    <% }) %>
                  </select>
                </td>
                <td>
                  <span><%= basicIngredsStock.date %></span>
                  <input class="dateTimePickerField d-none" id="basicIngredsStock-date-<%= basicIngredsStock.id %>" class="d-none" value="<%= basicIngredsStock.date %>" data-provide="datepicker"/>
                </td>
                <td>
                  <span><%= basicIngredsStock.quantity %></span>
                  <input id="basicIngredsStock-quantity-<%= basicIngredsStock.id %>" class="d-none" value="<%= basicIngredsStock.quantity %>"/>
                  <span><%= measurementsMap[basicIngredsStock.substance.measurement] %></span>
                </td>
                <td>
                  <span><%= basicIngredsStock.transaction_type %></span>
                  <select id="basicIngredsStock-transaction_type-<%= basicIngredsStock.id %>" class="d-none" value="<%= basicIngredsStock.transaction_type %>">
                    <option value="1" <% if(basicIngredsStock.transaction_type == 1){ %> selected <% }%> >Added to Stock</option>
                    <option value="-1" <% if(basicIngredsStock.transaction_type == -1){ %> selected <% }%> >Used from Stock</option>
                  </select>
                </td>
                <td>
                  <a id="edit-<%= basicIngredsStock.id %>" class="btn btn-small btn-warning" href="#" onclick="editBasicIngredsStock(<%= basicIngredsStock.id %>);">Edit</a>
                  <a id="save-<%= basicIngredsStock.id %>" class="btn btn-small btn-secondary d-none" href="#" onclick="saveBasicIngredsStock(<%= basicIngredsStock.id %>);">Save</a>
                  <a id="cancel-<%= basicIngredsStock.id %>" class="btn btn-small btn-light d-none" href="#" onclick="cancelEditBasicIngredsStock(<%= basicIngredsStock.id %>);">Cancel</a>
                  <a id="delete-<%= basicIngredsStock.id %>" class="btn btn-small btn-danger" href="#" onclick="deleteBasicIngredsStock(<%= basicIngredsStock.id %>);">Delete</a>
                </td>
              </tr>
            <% }) %>
            <tr>
              <td><input id="basicIngredsStock-id" class="d-none"/></td>
              <td><input id="basicIngredsStock-title" /></td>
              <td>
                <select id="basicIngredsStock-substance" class="">
                  <% basicIngreds.forEach(function(substance){ %>
                    <option value="<%= substance.id %>" ><%= substance.title %></option>
                  <% }) %>
                </select>
              </td>
              <td><input class="dateTimePickerField" id="basicIngredsStock-date" data-provide="datepicker"/></td>
              <td><input id="basicIngredsStock-quantity" /></td>
              <td>
                <select id="basicIngredsStock-transaction_type" class="" >
                  <option value="1" >Added to Stock</option>
                  <option value="-1" >Used from Stock</option>
                </select>
              </td>
              <td>
                <a id="addNew" class="btn btn-small btn-primary" href="#" onclick="addNewBasicIngredsStock();">Add New</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

  </div>
</div>

<script>
  function addNewBasicIngredsStock(){
    var data = {
      title: $("input#basicIngredsStock-title").val(),
      substance: $("select#basicIngredsStock-substance").val(),
      date: $("input#basicIngredsStock-date").val(),
      quantity: $("input#basicIngredsStock-quantity").val(),
      transaction_type: $("select#basicIngredsStock-transaction_type").val()
    };
    $.ajax({
      type: "POST",
      url: '/stock',
      data: JSON.stringify(data),
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function() {
        location.reload();
      }
    });
  }

  function deleteBasicIngredsStock(id){
    $.ajax({
      type: "DELETE",
      url: '/stock/' + id,
      success: function() {
        location.reload();
      }
    });
  }

  function editBasicIngredsStock(id){
    $("tr#basicIngredsStock-" + id + " input").removeClass('d-none');
    $("tr#basicIngredsStock-" + id + " select").removeClass('d-none');
    $("tr#basicIngredsStock-" + id + " span").addClass('d-none');
    $("a#edit-" + id).addClass('d-none');
    $("a#delete-" + id).addClass('d-none');
    $("a#save-" + id).removeClass('d-none');
    $("a#cancel-" + id).removeClass('d-none');
  }

  function cancelEditBasicIngredsStock(id){
    $("tr#basicIngredsStock-" + id + " input").addClass('d-none');
    $("tr#basicIngredsStock-" + id + " select").addClass('d-none');
    $("tr#basicIngredsStock-" + id + " span").removeClass('d-none');
    $("a#edit-" + id).removeClass('d-none');
    $("a#delete-" + id).removeClass('d-none');
    $("a#save-" + id).addClass('d-none');
    $("a#cancel-" + id).addClass('d-none');
  }

  function saveBasicIngredsStock(id) {
    var data = {
      id: id,
      title: $("input#basicIngredsStock-title-"+id).val(),
      substance: $("select#basicIngredsStock-substance-"+id).val(),
      date: $("input#basicIngredsStock-date-"+id).val(),
      quantity: $("input#basicIngredsStock-quantity-"+id).val(),
      transaction_type: $("select#basicIngredsStock-transaction_type-"+id).val()
    };
    $.ajax({
      type: "PUT",
      url: '/stock/' + id,
      data: data,
      success: function() {
        location.reload();
      }
    });
  }
</script>
