
<div class="container-fluid">
  <div class="row">

    <% include index %>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Intermidiate Items / Recipe by products / Reusable items / Left Over items</h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Measurement</th>
              <th>Category</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% allIntmdItems.forEach(function(intmdItem){ %>
              <tr id="intmdItem-<%= intmdItem.id %>">
                <td>
                  <%= intmdItem.id %>
                </td>
                <td>
                  <span><%= intmdItem.title %></span>
                  <input id="intmdItem-title-<%= intmdItem.id %>" class="d-none" value="<%= intmdItem.title %>"/>
                </td>
                <td>
                  <span><%= intmdItem.description %></span>
                  <input id="intmdItem-description-<%= intmdItem.id %>" class="d-none" value="<%= intmdItem.description %>"/>
                </td>
                <td>
                  <span><%= intmdItem.measurement.title %></span>
                  <select id="intmdItem-measurement-<%= intmdItem.id %>" class="d-none">
                    <% measurements.forEach(function(measurement){ %>
                      <option value="<%= measurement.id %>" <% if(intmdItem.measurement.id == measurement.id){ %> selected <% }%> ><%= measurement.title %></option>
                    <% }) %>
                  </select>
                </td>
                <td>
                  <span><%= intmdItem.category.title %></span>
                  <select id="intmdItem-category-<%= intmdItem.id %>" class="d-none" >
                    <% categories.forEach(function(category){ %>
                      <option value="<%= category.id %>" <% if(intmdItem.category.id == category.id){ %> selected <% } %> ><%= category.title %></option>
                    <% }) %>
                  </select>
                </td>
                <td>
                  <a id="edit-<%= intmdItem.id %>" class="btn btn-small btn-warning"  onclick="editIntmdItem(<%= intmdItem.id %>);">Edit</a>
                  <a id="save-<%= intmdItem.id %>" class="btn btn-small btn-secondary d-none"  onclick="saveIntmdItem(<%= intmdItem.id %>);">Save</a>
                  <a id="cancel-<%= intmdItem.id %>" class="btn btn-small btn-light d-none"  onclick="cancelEditIntmdItem(<%= intmdItem.id %>);">Cancel</a>
                  <a id="delete-<%= intmdItem.id %>" class="btn btn-small btn-danger"  onclick="deleteIntmdItem(<%= intmdItem.id %>);">Delete</a>
                </td>
              </tr>
            <% }) %>
            <tr>
              <td><input id="intmdItem-id" class="d-none"/></td>
              <td><input id="intmdItem-title" /></td>
              <td><input id="intmdItem-description" /></td>
              <td>
                <select id="intmdItem-measurement" class="">
                  <% measurements.forEach(function(measurement){ %>
                    <option value="<%= measurement.id %>" ><%= measurement.title %></option>
                  <% }) %>
                </select>
              </td>
              <td>
                <select id="intmdItem-category" class="" >
                  <% categories.forEach(function(category){ %>
                    <option value="<%= category.id %>" ><%= category.title %></option>
                  <% }) %>
                </select>
              </td>
              <td>
                <a id="addNew" class="btn btn-small btn-primary"  onclick="addNewIntmdItem();">Add New</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

  </div>
</div>

<script>
  function addNewIntmdItem(){
    var data = {
      type: 2, // For Intermidate items, Type will always be 2.
      title: $("input#intmdItem-title").val(),
      description: $("input#intmdItem-description").val(),
      measurement: $("select#intmdItem-measurement").val(),
      category: $("select#intmdItem-category").val()

    };
    $.ajax({
      type: "POST",
      url: '/substance',
      data: JSON.stringify(data),
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function() {
        location.reload();
      }
    });
  }

  function deleteIntmdItem(id){
    $.ajax({
      type: "DELETE",
      url: '/substance/' + id,
      success: function() {
        location.reload();
      }
    });
  }

  function editIntmdItem(id){
    $("tr#intmdItem-" + id + " input").removeClass('d-none');
    $("tr#intmdItem-" + id + " select").removeClass('d-none');
    $("tr#intmdItem-" + id + " span").addClass('d-none');
    $("a#edit-" + id).addClass('d-none');
    $("a#delete-" + id).addClass('d-none');
    $("a#save-" + id).removeClass('d-none');
    $("a#cancel-" + id).removeClass('d-none');
  }

  function cancelEditIntmdItem(id){
    $("tr#intmdItem-" + id + " input").addClass('d-none');
    $("tr#intmdItem-" + id + " select").addClass('d-none');
    $("tr#intmdItem-" + id + " span").removeClass('d-none');
    $("a#edit-" + id).removeClass('d-none');
    $("a#delete-" + id).removeClass('d-none');
    $("a#save-" + id).addClass('d-none');
    $("a#cancel-" + id).addClass('d-none');
  }

  function saveIntmdItem(id) {
    var data = {
      id: id,
      title: $("input#intmdItem-title-"+id).val(),
      description: $("input#intmdItem-description-"+id).val(),
      measurement: $("select#intmdItem-measurement-"+id).val(),
      category: $("select#intmdItem-category-"+id).val()
    };
    $.ajax({
      type: "PUT",
      url: '/substance/' + id,
      data: data,
      success: function() {
        location.reload();
      }
    });
  }
</script>
