
<div class="container-fluid">
  <div class="row">

    <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
      <h1>
        Recipe Task and Composition Details
        <a class="float-right" href="/recipeMgt/all_menu_items" >Go Back</a>
      </h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th>End Product</th>
              <th>Task Duration</th>
              <th>Station</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if(recipeTask && recipeTask.length > 0) { %>
              <% recipeTask.forEach(function(recipe){ %>
                <tr id="recipe-<%= recipe.id %>">
                  <td>
                    <%= recipe.id %>
                  </td>
                  <td>
                    <span><%= recipe.title %></span>
                    <input id="recipe-title-<%= recipe.id %>" class="d-none" value="<%= recipe.title %>"/>
                  </td>
                  <td>
                    <span><%= recipe.description %></span>
                    <input id="recipe-description-<%= recipe.id %>" class="d-none" value="<%= recipe.description %>"/>
                  </td>
                  <td>
                    <span><%= recipe.substance.title %></span>
                    <select id="recipe-substance-<%= recipe.id %>" class="d-none" value="<%= recipe.substance.id %>">
                      <option value="" >---</option>
                      <% substances.forEach(function(substance){ %>
                        <option value="<%= substance.id %>" <% if(recipe.substance.id == substance.id){ %> selected <% }%> ><%= substance.title %></option>
                      <% }) %>
                    </select>
                  </td>
                  <td>
                    <span><%= recipe.duration %></span>
                    <input id="recipe-duration-<%= recipe.id %>" class="d-none" value="<%= recipe.duration %>"/>
                  </td>
                  <td>
                    <span><%= recipe.station.title %></span>
                    <select id="recipe-station-<%= recipe.id %>" class="d-none" value="<%= recipe.station.id %>">
                      <% stations.forEach(function(station){ %>
                        <option value="<%= station.id %>" <% if(recipe.station.id == station.id){ %> selected <% }%> ><%= station.title %></option>
                      <% }) %>
                    </select>
                  </td>
                  <td>
                    <a id="edit-<%= recipe.id %>" class="btn btn-small btn-warning"  onclick="editRecipe(<%= recipe.id %>);">Edit</a>
                    <a id="save-<%= recipe.id %>" class="btn btn-small btn-secondary d-none"  onclick="saveRecipe(<%= recipe.id %>);">Save</a>
                    <a id="cancel-<%= recipe.id %>" class="btn btn-small btn-light d-none"  onclick="cancelEditRecipe(<%= recipe.id %>);">Cancel</a>
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td><input id="recipe-id" class="d-none"/></td>
                <td><input id="recipe-title" /></td>
                <td><input id="recipe-description" /></td>
                <td>
                  <select id="recipe-substance" class="">
                    <% substances.forEach(function(substance){ %>
                      <option value="<%= substance.id %>" ><%= substance.title %></option>
                    <% }) %>
                  </select>
                </td>
                <td><input id="recipe-duration" /></td>
                <td>
                  <select id="recipe-station" class="">
                    <% stations.forEach(function(station){ %>
                      <option value="<%= station.id %>" ><%= station.title %></option>
                    <% }) %>
                  </select>
                </td>
                <td>
                  <a id="addNew" class="btn btn-small btn-primary"  onclick="addNewRecipe();">Add New</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <hr/>
      <hr/>

      <h3>
        Sub-Steps for this Recipe.
      </h3>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Sequence</th>
              <th>Name</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if(allRecipeSubSteps && allRecipeSubSteps.length > 0) { %>
              <% allRecipeSubSteps.forEach(function(recipeSubTasks){ %>
                <tr id="recipeSubTasks-<%= recipeSubTasks.id %>">
                  <td>
                    <span><%= recipeSubTasks.sequence %></span>
                    <input id="recipeSubTasks-sequence-<%= recipeSubTasks.id %>" class="d-none" value="<%= recipeSubTasks.sequence %>"/>
                  </td>
                  <td>
                    <span><%= recipeSubTasks.title %></span>
                    <input id="recipeSubTasks-title-<%= recipeSubTasks.id %>" class="d-none" value="<%= recipeSubTasks.title %>"/>
                  </td>
                  <td>
                    <span><%= recipeSubTasks.description %></span>
                    <input id="recipeSubTasks-description-<%= recipeSubTasks.id %>" class="d-none" value="<%= recipeSubTasks.description %>"/>
                  </td>
                  <td>
                    <a id="edit-<%= recipeSubTasks.id %>" class="btn btn-small btn-warning"  onclick="editRecipeSubTask(<%= recipeSubTasks.id %>);">Edit</a>
                    <a id="save-<%= recipeSubTasks.id %>" class="btn btn-small btn-secondary d-none"  onclick="saveRecipeSubTask(<%= recipeSubTasks.id %>);">Save</a>
                    <a id="cancel-<%= recipeSubTasks.id %>" class="btn btn-small btn-light d-none"  onclick="cancelEditRecipeSubTask(<%= recipeSubTasks.id %>);">Cancel</a>
                    <a id="delete-<%= recipeSubTasks.id %>" class="btn btn-small btn-danger"  onclick="deleteRecipeSubTask(<%= recipeSubTasks.id %>);">Delete</a>
                  </td>
                </tr>
              <% }) %>
            <% } %>
            <% if(selectedRecipeTaskId && selectedRecipeTaskId > 0) { %>
              <tr>
                <td><input id="recipeSubTasks-sequence" /></td>
                <td><input id="recipeSubTasks-title" /></td>
                <td><input id="recipeSubTasks-description" /></td>
                <td>
                  <a id="addNew" class="btn btn-small btn-primary"  onclick="addNewRecipeSubTask();">Add New</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <hr/>
      <hr/>

      <h3>
        Ingredients used in this recipe task, with propotions.
      </h3>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th>Ingredient</th>
              <th>Proportion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if(allCompositions && allCompositions.length > 0) { %>
              <% allCompositions.forEach(function(composition, index){ %>
                <tr id="composition-<%= composition.id %>">
                  <td>
                    <%= index+1 %>
                  </td>
                  <td>
                    <span><%= composition.title %></span>
                    <input id="composition-title-<%= composition.id %>" class="d-none" value="<%= composition.title %>"/>
                  </td>
                  <td>
                    <span><%= composition.description %></span>
                    <input id="composition-description-<%= composition.id %>" class="d-none" value="<%= composition.description %>"/>
                  </td>
                  <td>
                    <span><%= composition.composition.title %></span>
                    <select id="composition-composition-<%= composition.id %>" class="d-none" value="<%= composition.composition.id %>">
                      <% substances.forEach(function(substance){ %>
                        <option value="<%= substance.id %>" <% if(composition.composition.id == substance.id){ %> selected <% }%> ><%= substance.title %></option>
                      <% }) %>
                    </select>
                  </td>
                  <td>
                    <span><%= composition.proportion %></span>
                    <input id="composition-proportion-<%= composition.id %>" class="d-none" value="<%= composition.proportion %>"/>
                  </td>
                  <td>
                    <a id="edit-<%= composition.id %>" class="btn btn-small btn-warning"  onclick="editComposition(<%= composition.id %>);">Edit</a>
                    <a id="save-<%= composition.id %>" class="btn btn-small btn-secondary d-none"  onclick="saveComposition(<%= composition.id %>);">Save</a>
                    <a id="cancel-<%= composition.id %>" class="btn btn-small btn-light d-none"  onclick="cancelEditComposition(<%= composition.id %>);">Cancel</a>
                    <a id="delete-<%= composition.id %>" class="btn btn-small btn-danger"  onclick="deleteComposition(<%= composition.id %>);">Delete</a>
                  </td>
                </tr>
              <% }) %>
            <% } %>
            <% if(recipeSubstanceId && recipeSubstanceId > 0) { %>
              <tr>
                <td><input id="composition-id" class="d-none"/></td>
                <td><input id="composition-title" /></td>
                <td><input id="composition-description" /></td>
                <td>
                  <select id="composition-composition" class="">
                    <% substances.forEach(function(substance){ %>
                      <option value="<%= substance.id %>" ><%= substance.title %></option>
                    <% }) %>
                  </select>
                </td>
                <td><input id="composition-proportion" /></td>
                <td>
                  <a id="addNew" class="btn btn-small btn-primary"  onclick="addNewComposition();">Add New</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

    </main>

  </div>
</div>

<script>

  var selectedRecipeTaskId;
  <% if(selectedRecipeTaskId){ %>
    selectedRecipeTaskId = <%= selectedRecipeTaskId %>;
  <% } %>

  var recipeSubstanceId;
  <% if(recipeSubstanceId){ %>
    recipeSubstanceId = <%= recipeSubstanceId %>;
  <% } %>


  //////////////////////////////////////////////////////////////////////

  function addNewRecipe(){
    var data = {
      title: $("input#recipe-title").val(),
      description: $("input#recipe-description").val(),
      substance: $("select#recipe-substance").val(),
      duration: $("input#recipe-duration").val(),
      station: $("select#recipe-station").val(),
    };
    $.ajax({
      type: "POST",
      url: '/recipe',
      data: JSON.stringify(data),
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function(result) {
        window.location = "/recipeMgt/recipe_task_details?selectedRecipeTaskId=" + result[0].id;
      }
    });
  }

  function editRecipe(id){
    $("tr#recipe-" + id + " input").removeClass('d-none');
    $("tr#recipe-" + id + " select").removeClass('d-none');
    $("tr#recipe-" + id + " span").addClass('d-none');
    $("a#edit-" + id).addClass('d-none');
    $("a#delete-" + id).addClass('d-none');
    $("a#save-" + id).removeClass('d-none');
    $("a#cancel-" + id).removeClass('d-none');
  }

  function cancelEditRecipe(id){
    $("tr#recipe-" + id + " input").addClass('d-none');
    $("tr#recipe-" + id + " select").addClass('d-none');
    $("tr#recipe-" + id + " span").removeClass('d-none');
    $("a#edit-" + id).removeClass('d-none');
    $("a#delete-" + id).removeClass('d-none');
    $("a#save-" + id).addClass('d-none');
    $("a#cancel-" + id).addClass('d-none');
  }

  function saveRecipe(id) {
    var data = {
      id: id,
      title: $("input#recipe-title-"+id).val(),
      description: $("input#recipe-description-"+id).val(),
      substance: $("select#recipe-substance-"+id).val(),
      duration: $("input#recipe-duration-"+id).val(),
      station: $("select#recipe-station-"+id).val(),
    };
    $.ajax({
      type: "PUT",
      url: '/recipe/' + id,
      data: data,
      success: function() {
        location.reload();
      }
    });
  }

  //////////////////////////////////////////////////////////////////////

  function addNewRecipeSubTask(){
    var data = {
      title: $("input#recipeSubTasks-title").val(),
      description: $("input#recipeSubTasks-description").val(),
      main_recipe_task: selectedRecipeTaskId,
      sequence: $("input#recipeSubTasks-sequence").val()
    };
    $.ajax({
      type: "POST",
      url: '/recipe_sub_tasks',
      data: JSON.stringify(data),
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function() {
        location.reload();
      }
    });
  }

  function deleteRecipeSubTask(id){
    $.ajax({
      type: "DELETE",
      url: '/recipe_sub_tasks/' + id,
      success: function() {
        location.reload();
      }
    });
  }

  function editRecipeSubTask(id){
    $("tr#recipeSubTasks-" + id + " input").removeClass('d-none');
    $("tr#recipeSubTasks-" + id + " select").removeClass('d-none');
    $("tr#recipeSubTasks-" + id + " span").addClass('d-none');
    $("a#edit-" + id).addClass('d-none');
    $("a#delete-" + id).addClass('d-none');
    $("a#save-" + id).removeClass('d-none');
    $("a#cancel-" + id).removeClass('d-none');
  }

  function cancelEditRecipeSubTask(id){
    $("tr#recipeSubTasks-" + id + " input").addClass('d-none');
    $("tr#recipeSubTasks-" + id + " select").addClass('d-none');
    $("tr#recipeSubTasks-" + id + " span").removeClass('d-none');
    $("a#edit-" + id).removeClass('d-none');
    $("a#delete-" + id).removeClass('d-none');
    $("a#save-" + id).addClass('d-none');
    $("a#cancel-" + id).addClass('d-none');
  }

  function saveRecipeSubTask(id) {
    var data = {
      id: id,
      title: $("input#recipeSubTasks-title-"+id).val(),
      description: $("input#recipeSubTasks-description-"+id).val(),
      main_recipe_task: selectedRecipeTaskId,
      sequence: $("input#recipeSubTasks-sequence-"+id).val()
    };
    $.ajax({
      type: "PUT",
      url: '/recipe_sub_tasks/' + id,
      data: data,
      success: function() {
        location.reload();
      }
    });
  }

  //////////////////////////////////////////////////////////////////////////

  function addNewComposition(){
    var data = {
      title: $("input#composition-title").val(),
      description: $("input#composition-description").val(),
      substance: recipeSubstanceId,
      composition: $("select#composition-composition").val(),
      proportion: $("input#composition-proportion").val(),
    };
    $.ajax({
      type: "POST",
      url: '/composition',
      data: JSON.stringify(data),
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function() {
        location.reload();
      }
    });
  }

  function deleteComposition(id){
    $.ajax({
      type: "DELETE",
      url: '/composition/' + id,
      success: function() {
        location.reload();
      }
    });
  }

  function editComposition(id){
    $("tr#composition-" + id + " input").removeClass('d-none');
    $("tr#composition-" + id + " select").removeClass('d-none');
    $("tr#composition-" + id + " span").addClass('d-none');
    $("a#edit-" + id).addClass('d-none');
    $("a#delete-" + id).addClass('d-none');
    $("a#save-" + id).removeClass('d-none');
    $("a#cancel-" + id).removeClass('d-none');
  }

  function cancelEditComposition(id){
    $("tr#composition-" + id + " input").addClass('d-none');
    $("tr#composition-" + id + " select").addClass('d-none');
    $("tr#composition-" + id + " span").removeClass('d-none');
    $("a#edit-" + id).removeClass('d-none');
    $("a#delete-" + id).removeClass('d-none');
    $("a#save-" + id).addClass('d-none');
    $("a#cancel-" + id).addClass('d-none');
  }

  function saveComposition(id) {
    var data = {
      id: id,
      title: $("input#composition-title-"+id).val(),
      description: $("input#composition-description-"+id).val(),
      substance: recipeSubstanceId,
      composition: $("select#composition-composition-"+id).val(),
      proportion: $("input#composition-proportion-"+id).val(),
    };
    $.ajax({
      type: "PUT",
      url: '/composition/' + id,
      data: data,
      success: function() {
        location.reload();
      }
    });
  }

</script>
